<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <link rel="stylesheet"type="text/css" th:href="@{/css/kickstarter-1.0.css}" />
</head>
<body onload='document.f.username.focus();'>
<th:block layout:fragment="title">Login</th:block>
<th:block layout:fragment="content">
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username or password.
    </div>
    <form name='f' th:action='@{/login}' method='POST'>

        <div class="form-group">
            <label th:for="username" th:text="#{username.label}" />
            <input class="form-control" type="text" name="username" />
            <br/>
        </div>

        <div class="form-group">
            <label th:for="password" th:text="#{password.label}" />
            <input class="form-control" type="password" name="password" />
            <br/>
        </div>

        <th:block th:replace="fragments/form::button('Login')" />
    </form>
</th:block>
<div id="footer"></div>
</body>
</html>
