<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <link rel="stylesheet"type="text/css" th:href="@{/css/kickstarter-1.0.css}" />
</head>

<body>

<th:block layout:fragment="title">Profile</th:block>

<th:block layout:fragment="content">
    <form method="POST" th:action="@{/profiles}" th:object="${profile}" id="registerForm"
          th:with="owner=${#authentication.name == profile.username}">

        <th:block th:replace="fragments/form::textInput('username', null, ${!owner})" />
        <th:block th:replace="fragments/form::textInput('firstName', null, ${!owner})" />
        <th:block th:replace="fragments/form::textInput('lastName', null, ${!owner})" />
        <th:block th:replace="fragments/form::dateInput('birthDate', null, ${!owner})" />
        <th:block th:replace="fragments/form::selectInput('gender', null, ${genders}, 'displayName', null, ${!owner})" />
        <th:block th:replace="fragments/form::textInput('email', null, ${!owner})" />
        <th:block th:replace="fragments/form::textInput('phone', null, ${!owner})" />
        <th:block th:replace="fragments/form::checkboxInput('roles', null, ${roles}, 'displayName', null,
            ${!#authorization.expression('hasRole(''ROLE_ADMIN'')')})" />

        <th:block th:replace="fragments/form::button('Update')" />
    </form>
</th:block>

</body>
</html>
