<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <link rel="stylesheet"type="text/css" th:href="@{/css/kickstarter-1.0.css}" />
</head>

<body>

<th:block layout:fragment="title">Registration</th:block>

<th:block layout:fragment="content">
    <form method="POST" th:action="@{/register}" th:object="${registration}" id="registerForm">

        <th:block th:replace="fragments/form::textInput('username', null, false)" />
        <th:block th:replace="fragments/form::passwordInput('password', null)" />
        <th:block th:replace="fragments/form::passwordInput('confirmPassword', null)" />
        <th:block th:replace="fragments/form::textInput('firstName', null, false)" />
        <th:block th:replace="fragments/form::textInput('lastName', null, false)" />
        <th:block th:replace="fragments/form::dateInput('birthDate', null, false)" />
        <th:block th:replace="fragments/form::selectInput('gender', null, ${genders}, 'displayName', null, false)" />
        <th:block th:replace="fragments/form::textInput('email', null, false)" />
        <th:block th:replace="fragments/form::textInput('phone', null, false)" />

        <th:block th:replace="fragments/form::button('Register')" />
    </form>
</th:block>

</body>
</html>
