<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
<div sec:authorize="isAnonymous()">
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/register}">Register</a>
</div>
<h1>Welcome, <span sec:authentication="name"></span>!</h1>
</body>
</html>
